################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEndInfrsastructure/obj
/.vs
/WebApiExample/bin/Debug/net8.0
/WebApiExample/obj
/BackEndInfrsastructure/bin/Debug/net8.0
